<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevSearch</title>
  </head>
  <body>
    <!--  -->
    <h1>This the main page</h1>
    {% include 'navbar.html' %}

    <!-- Container for all child content that inherit from main.html -->
    {% block content %}
    <!-- all content that extends main.html will sit in here-->
    {% endblock %}
    <br /><br /><br /><br /><br /><br />
    <h2>FOOTER</h2>
  </body>
</html>
